trigger:
- main

pool:
  vmImage: 'windows-latest'   # or pin windows-2022 for stability

variables:
  buildConfiguration: 'Release'
  webProject: 'src/YourWebApp/YourWebApp.csproj'   # <-- change this

steps:
- task: UseDotNet@2
  displayName: "Use .NET SDK 10"
  inputs:
    packageType: 'sdk'
    version: '10.0.x'

- script: dotnet --info
  displayName: "dotnet --info"

- task: DotNetCoreCLI@2
  displayName: "Restore"
  inputs:
    command: 'restore'
    projects: '**/*.sln'

- task: DotNetCoreCLI@2
  displayName: "Build"
  inputs:
    command: 'build'
    projects: '**/*.sln'
    arguments: '--configuration $(buildConfiguration) --no-restore'

- task: DotNetCoreCLI@2
  displayName: "Publish (framework-dependent)"
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: '$(webProject)'
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/publish --no-build'
    zipAfterPublish: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'
    ArtifactName: 'drop'