.mud-dialog-width-sm {
    max-width: none !important;
}

@media (min-width: 410px) {
    iframe.video {
        height: 225px;
        width: 400px;
    }
}

@media (min-width: 576px) {
    iframe.video {
        height: 240px;
        width:426px;
    }
}

@media (min-width: 768px) {
    iframe.video {
        height: 302px;
        width:538px;
    }
}

@media (min-width: 970px) {
    iframe.video {
        height: 416px;
        width:739px;
    }
}

@media (min-width: 1170px) {
    iframe.video {
        height: 480px;
        width:854px;
    }
}

.chart-card {
    .mud-card-header{
        height:100px;
        background-size: 100% 100%;
        align-items:start;
        padding-left:5px;
        padding-top:5px;
    }
    .mud-card-content {
        padding-top:7px;
        padding-bottom:0px;
        padding-left:5px;
        padding-right:5px;
        text-align:center;
    }
    .mud-card-actions {
        padding-top:0px;
        padding-bottom:0px;
    }
}