@page "/Titles"
@using MediatR
@using ScoreTracker.Application.Queries
@using ScoreTracker.Domain.SecondaryPorts
@using ScoreTracker.Web.Dtos
<PageTitle>Titles</PageTitle>
<MudText>Note: This page will not support Phoenix titles until we have confirmed success metrics for a significant amount of titles.</MudText>
<MudDataGrid @ref="_dataGrid" T="TitleProgressDto" Items="_titleProgress" Hover="true" ReadOnly="true"
             Groupable="true" FixedHeader="true" Height="500" Loading="@_isLoading">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Titles</MudText>
    </ToolBarContent>
    <Columns>
        <Column T="TitleProgressDto" Field="TitleCategory" Title="Category" Grouping="true"></Column>
        <Column T="TitleProgressDto" Field="TitleName" Title="Title" Groupable="false"></Column>
        <Column T="TitleProgressDto" Field="TitleDescription" Title="Description" Groupable="false"></Column>
        @if (CurrentUser.IsLoggedIn)
        {
            <Column T="TitleProgressDto" Field="IsTrackable" Title="Completion" Groupable="false">
                <CellTemplate>
                    <MudText Color="@(context.Item.CompletionCount >= context.Item.RequiredCount ? Color.Success : Color.Primary)">
                        @if (context.Item.IsTrackable)
                        {
                            <span>@context.Item.CompletionCount / @context.Item.RequiredCount</span>
                        }
                    </MudText>
                </CellTemplate>
            </Column>
        }
    </Columns>
</MudDataGrid>

@inject IMediator Mediator
@inject ICurrentUserAccessor CurrentUser;
@code {
    private MudDataGrid<TitleProgressDto>? _dataGrid;
    private IEnumerable<TitleProgressDto> _titleProgress = Array.Empty<TitleProgressDto>();
    
    private bool _isLoading = true;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        _titleProgress = (await Mediator.Send(new GetXXTitleProgressQuery())).Select(TitleProgressDto.From).ToArray();
        _isLoading = false;
        if (_dataGrid != null)
        {
            
            _dataGrid.Items = _titleProgress;
            _dataGrid?.GroupItems();
        }

    }
}