@page "/OfficialLeaderboards/Popularity"
@rendermode RenderModes.Interactive

<OfficialSectionFrame Active="popularity">
    <Body Context="ctx">
        <HubPopularity Mix="ctx.Mix" Charts="ctx.Charts"/>
    </Body>
</OfficialSectionFrame>
