@page "/OfficialLeaderboards/WhatItTakes"
@rendermode RenderModes.Interactive

<OfficialSectionFrame Active="takes" RequiresCharts="false">
    <Body Context="ctx">
        <HubWhatItTakes Mix="ctx.Mix"/>
    </Body>
</OfficialSectionFrame>
