@page "/PhoenixToXXCalculator"
<h3>PhoenixToXXCalculator</h3>


<meta property="og:image" content="https://piuimages.arroweclip.se/phoenix_to_xx.png" />
@inject NavigationManager NavManager
@code {

    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
    }
}
