@page "/PhoenixToXXCalculator"
<h3>PhoenixToXXCalculator</h3>
<HeadContent>
    <meta name="description" content="See what your Phoenix scores would be in XX." />
    <meta property="og:title" content="PIU Phoenix to XX Score Calculator">
    
    <meta property="og:image" content="https://piuimages.arroweclip.se/phoenix_to_xx.png" />
    <meta property="og:description" content="See what your Phoenix scores would be in XX.">
</HeadContent>

@inject NavigationManager NavManager
@code {

    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
    }
}
